.icon-dashboard {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .icon {
    width: 100px;
    margin-right: 16px;
  }
}
