.minxin() {
  background-color: rgba(0, 0, 0, 40%);
}

#root {
  .small {
    width: 69px;
    height: 75px;
    background: url('@/assets/images/success.png') no-repeat;
  }

  .big-img {
    width: 232px;
    height: 154px;
    background: url('@/assets/images/doctor_male_icon.png') no-repeat;
  }
}
